<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:jee="http://www.springframework.org/schema/jee"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">
	
	<!-- 扫描web注解 -->
	<context:component-scan base-package="cgod" />
	
	<!-- 读取多个properties文件交给spring容器 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>	
	
	<!-- 扫描数据源 -->
	<jee:jndi-lookup id="mainDatasource" jndi-name="${main.datasource}"/>
	
	<!-- 配置事物 1.创建事物类2.开启事务-->
	<bean id="mainManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="mainDatasource">
	</bean>
	<tx:annotation-driven transaction-manager="mainManager"/>
	
	<bean id="mySqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:ibatisConfig.xml</value>
		</property>
<!-- 		<property name="configLocations"> -->
<!-- 			<value>classpath:cgod/mapping/*.xml</value> -->
<!-- 		</property> -->
	</bean>
	
	<!-- 创建dao的实现用于自动注解 -->
	<bean id="mydao" class="cgod.dao.Mydao">
		<property name="sqlMapClient" ref="mySqlMapClient"/>
		<property name="dataSource" ref="mainDatasource" />
	</bean>
	
</beans>